.home{
    padding:0!important;
    margin:0!important;
}
.home .mobile .one{
    padding:3vh 5vw;
    text-align:center;
    background-image:url('../../../images/background.jpg');
    background-position:right;
    position:relative;
    margin:0;
}
.home .mobile .one .text h1, .home .mobile .one .text p{
    text-align:left;
}
.home .mobile .one button{
    width:100%;
    font-size:4vw;
}
.home .mobile .one .text{
    padding:2vh 5vw;
    background:rgba(0, 0, 0, 0.605);
    color:#fff;
    margin:4vh 0;
}
.home .mobile .one .search{
    border-radius:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:1.5vh 5vw;
    display:flex;
    align-items:stretch;
    background:#fff;
}
.home .mobile .one .search .icon-container{
    flex-grow:.5;
}
.home .mobile .one .search .search-container{
    flex-grow:10;
}
.home .mobile .one .search .icons{
    fill:rgb(5, 112, 128);
    width:5vw;
}
.home .mobile .one .search input{
    border:none;
    color:#fff;
    outline:none;
    color:#000;
    width:100%;
}
.home .mobile .one button{
    padding:2.5vh 0;
    border-radius:5px;
    border:none;
    outline:none;
    background:rgb(5, 112, 128);
    color:#fff;
}


.home .mobile .two{
    padding:5vh 5vw;
    text-align:center;
}

.home .mobile .two .title{
    display:flex;
    align-items:stretch;
}
.home .mobile .two .title .main{
    flex-grow:8;
    text-align:left;
    font-size:7.5vw;
    font-weight:bold;
}
.home .mobile .two .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    text-align:right;
}
.home .mobile .two .content{
    display:flex;
    flex-wrap:wrap;
    padding-top:3vh;
}
.home .mobile .two .content .column{
    flex:33.33%
}
.home .mobile .two .content .column .books{
    width:90%;
    padding:0;
}


.home .mobile .three{
    padding:5vh 5vw;
    text-align:center;
}

.home .mobile .three .title{
    display:flex;
    align-items:stretch;
}
.home .mobile .three .title .main{
    flex-grow:8;
    text-align:left;
    font-size:7.5vw;
    font-weight:bold;
}
.home .mobile .three .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    text-align:right;
}
.home .mobile .three .content{
    display:flex;
    flex-wrap:wrap;
    padding-top:3vh;
    text-align:center;
}
.home .mobile .three .content .column{
    flex:50%;
    max-width:50%;
}
.home .mobile .three .content .column .subject{
    display:inline-block;
    width:90%;
    margin:1vh 0;
    border:1px solid rgb(199, 199, 199);
    padding:2vh 0%;
    text-decoration:none;
    color:#000;
}


.home .mobile .four{
    padding:5vh 5vw;
    text-align:center;
}

.home .mobile .four .title{
    display:flex;
    align-items:stretch;
}
.home .mobile .four .title .main{
    flex-grow:8;
    text-align:left;
    font-size:7.5vw;
    font-weight:bold;
}
.home .mobile .four .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    text-align:right;
}
.home .mobile .four .content{
    display:flex;
    flex-wrap:wrap;
    padding-top:3vh;
}
.home .mobile .four .content .column{
    flex:33.33%
}
.home .mobile .four .content .column .books{
    width:90%;
    padding:0;
}