.books .tablet, .books .mobile{
    display:none;
}
.books .desktop{
    display:block;
    background:#E36C4C;
}

/* tablet version */
@media screen and (max-width:800px){
    .books .mobile, .books .desktop{
        display:none;
    }
    .books .tablet{
        display:block;
    }
}

/* mobile version */
@media screen and (max-width:600px){
    .books .desktop, .books .tablet{
        display:none;
    }
    .books .mobile{
        display:block;
    }
    .books .mobile .content{
        padding:5vh 5vw;
        text-align:center;
    }
    .books .mobile .content .text h1, .books .mobile .content .text p{
        text-align:left;
    }.books .mobile .content button{
        width:100%;
        font-size:4vw;
    }
    .books .mobile .content .text{
        padding:4vh 0;
    }
    .books .mobile .content .search{
        border-radius:50px;
        background:rgb(231, 231, 231);
        padding:1.5vh 5vw;
        display:flex;
        align-items:stretch;
        margin-bottom:6vh;
    }
    .books .mobile .content .search .icon-container{
        flex-grow:1;
    }
    .books .mobile .content .search .search-container{
        flex-grow:3;
    }
    .books .mobile .content .search .icons{
        fill:rgb(5, 112, 128);
        width:5vw;
    }
    .books .mobile .content .search input{
        border:none;
        background:none;
        outline:none;
        color:#000;
        width:100%;
    }
    .books .mobile .content .title{
        display:flex;
        align-items:stretch;
        margin:3vh 0;
    }
    .books .mobile .content .title .main{
        flex-grow:8;
        text-align:left;
        font-size:7.5vw;
        font-weight:bold;
    }
    .books .mobile .content .title .sub{
        padding-top:1.5vh;
        flex-grow:1;
        text-align:right;
    }

    .books .mobile .content .list{
        display:flex;
        flex-wrap:wrap;
        padding-top:3vh;
    }
    .books .mobile .content .list .items{
        flex:100%;
        display:flex;
        flex-wrap:wrap;
        padding:5vh 0;
        border-bottom:1px solid rgb(231, 231, 231);
    }
    .books .mobile .content .list .items .img img{
        width:100%;
    }
    .books .mobile .content .list .items .img{
        flex:40%;
        padding:0 2%;
    }
    .books .mobile .content .list .items .text{
        text-align:center;
        flex:40%;
        padding:0 2%;
    }
    .books .mobile .content .list .items .text .head, .books .mobile .content .list .items .text .sub{
        display:inline-block;
    }
    .books .mobile .content .list .items .text .icons{
        display:flex;
        flex-wrap:wrap;
        margin-top:3vh;
    }
    .books .mobile .content .list .items .text .icons div{
        flex:50%;
    }
    .books .mobile .content .list .items .text .icons .preview{
        text-align:center;
    }
    .books .mobile .content .list .items .text .download{
        text-align:center;
    }
    .books .mobile .content .list .items .text .download button{
        border:none;
        outline:none;
        background:teal;
        color:#fff;
        padding:1vh 0;
        border-radius:5px;
    }
    .books .mobile .content .list .items .text .head{
        font-size:5vw;
        font-weight:bold;
    }
    .books .mobile .content .list .items .text .sub{
        font-size:4vw;
    }
    .books .mobile .content .list .items .text p{
        color:grey;
        text-align:center;
    }
    .books .mobile .two .content .column .books{
        width:90%;
        margin-bottom:1vh;
    }
}