.home .tablet .one{
    padding:5vh 5vw;
    text-align:left;
    background-image:url('../../../images/background.jpg');
    background-position:right;
    background-repeat:no-repeat;
    background-size:100%;
    position:relative;
    margin:none;
}
.home .tablet .one .text h1, .home .tablet .one .text p{
    text-align:left;
}
.home .tablet .one .text h1{
    font-size:4vw;
}
.home .tablet .one .text p{
    font-size:2.5vw;
}
.home .tablet .one .text{
    padding:2vh 5vw;
    background:rgba(0, 0, 0, 0.605);
    color:#fff;
    margin:4vh 0 2vh 0;
    width:50vw;
}
.home .tablet .one .search{
    border-radius:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:1.5vh 5vw;
    display:flex;
    align-items:stretch;
    background:#fff;
}
.home .tablet .one .search .icon-container{
    flex-grow:.5;
}
.home .tablet .one .search .search-container{
    flex-grow:10;
}
.home .tablet .one .search .icons{
    fill:rgb(5, 112, 128);
    width:5vw;
}
.home .tablet .one .search input{
    border:none;
    color:#fff;
    outline:none;
    color:#000;
    width:100%;
}
.home .tablet .one button{
    padding:1.5vh 6vw;
    border-radius:5px;
    border:none;
    outline:none;
    background:rgb(5, 112, 128);
    color:#fff;
    font-size:2.5vw;
}


.home .tablet .two{
    padding:5vh 5vw;
    text-align:center;
}

.home .tablet .two .title{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.home .tablet .two .title .main{
    flex-grow:8;
    text-align:left;
    font-size:3vw;
    font-weight:bold;
}
.home .tablet .two .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    font-size:2vw;
    text-align:right;
}
.home .tablet .two .content{
    display:flex;
    flex-wrap:wrap;
    padding-top:3vh;
}
.home .tablet .two .content .column{
    flex:33.33%
}
.home .tablet .two .content .column .books{
    width:90%;
    padding:0;
}


.home .tablet .three{
    padding:5vh 5vw;
    text-align:center;
}

.home .tablet .three .title{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.home .tablet .three .title .main{
    flex-grow:8;
    text-align:left;
    font-size:3vw;
    font-weight:bold;
}
.home .tablet .three .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    font-size:2vw;
    text-align:right;
}
.home .tablet .three .content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding-top:3vh;
    text-align:center;
}
.home .tablet .three .content .subject{
    display:inline-block;
    width:90%;
    margin:1vh 0;
    border:1px solid rgb(199, 199, 199);
    padding:2vh 0%;
    text-decoration:none;
    color:#000;
}


.home .tablet .four{
    padding:5vh 5vw;
    text-align:center;
}

.home .tablet .four .title{
    display:flex;
    align-items:stretch;
}
.home .tablet .four .title .main{
    flex-grow:8;
    text-align:left;
    font-size:7.5vw;
    font-weight:bold;
}
.home .tablet .four .title .sub{
    padding-top:1.5vh;
    flex-grow:1;
    text-align:right;
}
.home .tablet .four .content{
    display:flex;
    flex-wrap:wrap;
    padding-top:3vh;
}
.home .tablet .four .content .column{
    flex:33.33%
}
.home .tablet .four .content .column .books{
    width:90%;
    padding:0;
}